.contact-hero {
    padding: 147px 0 303px;
    background-color: #EDFAFF;
}

.contact-hero .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact .global-heading {
    font-size: 80px;
}

.contact .global-para {
    width: 50%;
    margin-bottom: 0;
}

/* Contact Form Section */

.contact-form-section .content {
    display: flex;
    justify-content: center;
    margin-top: -263px;
    padding-bottom: 60px;
}

.contact-form {
    background-color: white;
    border-radius: 10px;
    padding: 40px;
    width: 66%;
    box-shadow: 0px 12px 24px 0px rgba(91, 104, 113, 0.24), 0px 0px 1px 0px rgba(26, 32, 36, 0.32);
}

.contact-form .global-heading {
    font-size: 30px;
    margin-bottom: 20px;
}

.contact-form .input-div {
    margin-bottom: 40px;
}

.contact-form .label {
    display: block;
    margin-bottom: 4px;
    font-size: 14px;
}

.contact-form .input {
    padding: 8px 16px;
    width: 100%;
    border: 1px solid #DDE2E4;
    border-radius: 6px;
}

.contact-form .input::placeholder {
    color: #9AA6AC;
    font-size: 14px;
}

.contact-form .input:focus-visible {
    outline: none;
}

.contact-form select, .contact-form option {
    font-size: 14px;
}

.contact-form .number-input-div .inputs {
    display: flex;
    gap: 10px;
}

.contact-form .number-input-div select {
    width: 30%;
}

.contact-form .number-input-div input {
    width: 70%;
}

.contact-form textarea {
    margin-bottom: 10px;
}

.contact-form .global-button {
    width: 100%;
    padding: 16px;
}

@media screen and (max-width: 1199.9px) {
    .contact .global-heading {
        font-size: 70px;
    }

    .contact-form {
        width: 75%;
    }

    .contact-form .input-div {
        margin-bottom: 26px;
    }

    .contact-form .global-button {
        padding: 10px;
    }
}

@media screen and (max-width: 991.9px) {
    .contact .global-heading {
        font-size: 60px;
    }

    .contact .global-para {
        width: 70%;
    }

    .contact-form {
        width: 100%;
    }
}

@media screen and (max-width: 767.9px) {
    .contact-hero {
        padding-top: 124px;
    }

    .contact .global-heading {
        font-size: 50px;
    }

    .contact .global-para {
        width: 80%;
    }
}

@media screen and (max-width: 575.9px) {
    .contact .global-heading {
        font-size: 44px;
    }

    .contact .global-para {
        width: 90%;
    }

    .contact-form .input-div {
        margin-bottom: 16px;
    }
}

@media screen and (max-width: 480px) {
    .contact .global-heading {
        font-size: 38px;
    }

    .contact .global-para {
        width: 100%;
    }

    .contact-form {
        padding: 28px;
    }

    .contact-form .global-heading {
        font-size: 24px;
    }

    .contact-form .input {
        padding: 7px 14px;
    }

    .contact-form .global-button {
        padding: 8px;
    }
}

@media screen and (max-width: 380px) {
    .contact-form .input {
        padding: 7px;
    }

    .contact-form .textarea {
        margin-bottom: 10px;
    }
}