
.homeHero > div {
    height: 900px;
}

.hero-heading {
    font-family: QuincyCFMedium;
}

.hero-para {
    font-size: 18px;
    color: #252C32;
}

.hero-buttons {
    display: flex;
    gap: 15px;
}

.homeHero .hero-blue-btn {
    font-size: 18px;
    padding: 16px;
    width: 168px;
}

.homeHero .hero-white-btn {
    font-size: 18px;
    padding: 16px;
    width: 168px;
    background-color: white;
    border: 1px solid #00A9E7;
    color: #00A9E7;
}

.homeHero .hero-white-btn:hover {
    background-color: #00A9E7;
    color: white;
}

.hero1 {
    background: url('../assets/images/hero1-bg-ellipse.png') right bottom no-repeat, url('../assets/images/hero1-bg-rainbow.png') right bottom no-repeat,#E3F8FF;
}

.hero1 .hero-heading {
    padding-top: 196px;
    font-size: 80px;
    margin-bottom: 30px;
}

.hero1 .hero-para {
    margin-bottom: 40px;
}

/* 
.hero2 {
    background: url('../assets/images/hero2bg.png');
} */


/* Primary Cards */
.primary-cards {
    margin-top: -44px;
}

.primary-card {
    padding: 59px 40px 61px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0px 1px 2px 0px rgba(91, 104, 113, 0.32), 0px 0px 1px 0px rgba(26, 32, 36, 0.32);
    border-radius: 10px;
}

.primary-card .icon-div {
    margin-bottom: 32px;
    min-height: 70px;
}

.primary-card .icon {
    max-width: 70px;
    max-height: 70px;
}

.primary-card .heading {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 11px;
}

.primary-card .para {
    color: #5B6871;
    text-align: center;
}

/* Like Today Section */
.like-today {
    padding: 100px 0 124px;
}

.like-today .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.like-today .heading {
    color: #252C32;
    font-family: QuincyCF;
    width: 65%;
    font-size: 60px;
    margin-bottom: 10px;
}

.like-today .para {
    font-size: 18px;
    color: #5B6871;
    width: 36%;
    margin-bottom: 67px;
}

.like-today .content > .row {
    width: 100%;
}

.like-today .sm-card {
    padding: 32px 0 29px;
    border: 1px solid #E5E9EB;
    border-radius: 10px;
    transition: all 0.3s ease-out;
    background-color: white;
}

.like-today .sm-card:hover {
    border: 1px solid #008DC0;
    transform: scale(1.05);
    box-shadow: 0px 12px 24px 0px rgba(91, 104, 113, 0.24), 0px 0px 1px 0px rgba(26, 32, 36, 0.32);
}

.like-today .sm-card:hover .caption {
    color: #00719A;
    font-weight: 700;
}

.like-today .img-div {
    margin-bottom: 10px;
    height: 70px;
}

.like-today .sm-card .img {
    max-width: 70px;
    max-height: 70px;
}

.like-today .sm-card .caption {
    font-size: 18px;
    color: #5B6871;
    transition: all 0.3 ease-out;
}

/* Two Cards Section */
.two-cards-section {
    /* padding: 116px 0 153px; */
    padding-bottom: 153px;
}

.two-cards-section .top-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-cards-section .global-heading {
    margin-bottom: 10px;
}

.two-cards-section .global-para {
    width: 50%;
    margin-bottom: 52px;
}

.two-cards-section .global-button {
    width: 168px;
}

/* Ready Section */
.ready-section {
    padding-top: 80px;
    background: url('../assets/images/ready-bg-blur.png') right top no-repeat ,#EDFAFF;
}

.ready-section .left-part {
    padding-top: 80px;
}

.ready-section .global-para {
    width: 70%;
}

.ready-section .global-button {
    width: 168px;
}

.ready-section .img {
    width: 100%;
}

/* Media Queries with Max-Width */
@media screen and (max-width: 1399.9px) {
    .homeHero > div {
        height: 750px;
    }

    .hero1 {
        background: url('../assets/images/hero1-bg-ellipse.png') right bottom / 50% no-repeat, url('../assets/images/hero1-bg-rainbow.png') right bottom / 70% no-repeat,#E3F8FF;
    }

    .hero1 .hero-heading {
        font-size: 70px;
        margin-bottom: 24px;
    }

    .hero-para {
        font-size: 16px;
        margin-bottom: 30px;
    }

    .homeHero .hero-blue-btn, .homeHero .hero-white-btn {
        font-size: 16px;
        padding: 12px;
        width: 144px;
    }

    /* Insure Today Section */
    .like-today .sm-card .caption {
        font-size: 17px;
    }

    /* Two Cards Section */
    .two-cards-section {
        padding-bottom: 110px;
    }
}

@media screen and (max-width: 1199.9px) {
    /* Primary Cards */
    .primary-card {
        padding: 59px 12px;
    }

    /* Like Today */
    .like-today {
        padding: 80px 0;
    }

    .like-today .heading {
        font-size: 52px;
    }

    .like-today .para {
        width: 40%;
        margin-bottom: 40px;
    }

    .like-today .img-div {
        height: 54px;
    }

    .like-today .sm-card .img {
        max-width: 54px;
        max-height: 54px;
    }

    .like-today .sm-card .caption {
        font-size: 14px;
    }

    /* Two Cards Section */
    .two-cards-section {
        padding-bottom: 60px;
    }

    .two-cards-section .global-para {
        width: 60%;
        margin-bottom: 40px;
    }

    /* Ready Section */
    .ready-section .global-para {
        width: 80%;
    }
}

@media screen and (max-width: 991.9px) {
    /* Hero Section */
    .homeHero > div {
        height: 600px;
    }
    
    .hero1 {
        background: url('../assets/images/hero1-bg-rainbow.png') right bottom / 50% no-repeat,#E3F8FF;
    }

    .hero1 .hero-heading {
        padding-top: 170px;
    }

    /* Primary Cards */
    .primary-card {
        margin-bottom: 20px;
    }

    /* Insure Today */
    .like-today {
        padding: 50px 0;
    }

    .like-today .heading {
        font-size: 48px;
    }

    .like-today .para {
        font-size: 17px;
        width: 52%;
    }

    .like-today .sm-card {
        margin-bottom: 20px;
    }

    /* Two Cards Section */
    .two-cards-section {
        padding-bottom: 30px;
    }
    .two-cards-section .global-heading {
        margin-bottom: 4px;
    }

    .two-cards-section .global-para {
        width: 70%;
        margin-bottom: 30px;
    }

    /* Ready Section */
    .ready-section .left-part {
        padding-top: 0;
        padding-bottom: 60px;
    }
    .ready-section .image-part {
        display: none;
    }
}

@media screen and (max-width: 767.9px) {
    .homeHero > div {
        height: 576px;
    }

    .hero1 .hero-heading {
        font-size: 54px;
    }

    /* Insurance Today */
    .like-today {
        padding: 40px 0;
    }

    .like-today .heading {
        width: 80%;
    }

    .like-today .para {
        width: 66%;
    }

    /* Two Cards Section */
    .two-cards-section .global-heading {
        margin-bottom: 0px;
    }

    .two-cards-section .global-para {
        width: 80%;
        margin-bottom: 20px;
    }
    
    .two-cards-section .global-button {
        width: 156px;
    }

    /* Ready Section */
    .ready-section .global-para {
        width:100%;
    }

    .ready-section .global-button {
        width: 156px;
    }
}

@media screen and (max-width: 575.9px) {
    .hero1 .hero-heading {
        font-size: 46px;
        margin-bottom: 18px;
    }

    .homeHero .hero-blue-btn, .homeHero .hero-white-btn {
        width: 130px;
        padding: 8px;
    }


    /* Insurance Today */
    .like-today .heading {
        font-size: 46px;
        width: 100%;
    }

    .like-today .para {
        width: 78%;
    }

    /* Two Cards Section */
    .two-cards-section .global-para {
        width: 90%;
    }
    
    .two-cards-section .global-button {
        width: 156px;
    }
}

@media screen and (max-width: 480px) {
    .hero1 .hero-heading {
        font-size: 38px;
    }

    /* Primary Cards */
    .primary-card .icon-div {
        height: 54px;
        margin-bottom: 20px;
    }

    .primary-card .icon {
        max-width: 54px;
        max-height: 54px;
    }

    /* Insurance Today */
    .like-today .heading {
        font-size: 40px;
    }

    .like-today .para {
        width: 90%;
    }

    /* Two Cards Section */
    .two-cards-section .global-para {
        width: 100%;
    }
}

@media screen and (max-width: 373px) {
    .hero1 .hero-heading {
        font-size: 50px;
        padding-top: 124px;
    }

    .homeHero .hero-blue-btn, .homeHero .hero-white-btn {
        font-size: 14px;
    }

    /* Primary Cards */
    .primary-card {
        padding: 40px 12px;
    }

    .primary-card .heading {
        font-size: 17px;
    }

    .primary-card .para {
        font-size: 14px;
    }

    /* Insurance Today */
    .like-today .heading {
        font-size: 30px;
    }

    .like-today .para {
        width: 100%;
        font-size: 14px;
        margin-bottom: 26px;
    }
}

/* Media Queries with Min-Width */
@media screen and (min-width: 1200px) {
    .hero1 .hero-content {
        width: 488px;
    }
}

@media screen and (min-width: 992px) {
    .hero1 .hero-content {
        width: 492px;
    }
}