.top-section {
    padding: 50px 0 14px;
}

.footer .logo {
    margin-bottom: 35px;
}

.footer .logo .img {
    width: 170px;
}

.footer .download-link {
    display: inline-block;
}

.footer .download-buttons {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.footer .links-head {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    color: #5B6871;
    font-size: 14px;
    margin-bottom: 21px;
}

.footer .links {
    list-style-type: none;
    padding: 0;
}

.footer .extraMargin {
    margin-top: 38px;
}

.footer .link-item {
    margin-bottom: 12px;
}

.footer .link {
    font-weight: 400;
    color: #5B6871;
    font-size: 14px;
    text-decoration: none;
}

.footer .link:hover {
    font-weight: 500;
}


/* Footer Bottom Part */
.footer .bottom-section {
    border-top: 1px solid #EEF0F2;
    padding: 30px 0;
}

.footer .bottom-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .bottom-links {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    margin-bottom: 14px;
}

.footer .bottom-link-item {
    display: inline-block;

}

.footer .bottom-link-item::after {
    content: '|';
    padding: 0 5px;
    color: #84919A;
    font-size: 14px;
}

.footer .bottom-link-item:last-of-type::after {
    display: none;
}

.footer .bottom-link {
    text-decoration: none;
    color: #84919A;
    font-size: 11px;
}

.footer .bottom-link:hover {
    font-weight: 500;
    margin-left: -1px;
}

.footer .bottom-para {
    font-size: 11px;
    color: #84919A;
    text-align: center;
}

@media screen and (min-width: 992px) {
    .footer .bottom-para {
        width: 840px;
    }
}

@media screen and (max-width: 768px) {
    .footer .extraMargin {
        margin-top: 0;
    }
}

@media screen and (max-width: 576px) {
    .footer .links, .download-buttons {
        margin-bottom: 20px;
    }

    .footer .smNoMargin {
        margin-bottom: 0;
    }

    .footer .links-head {
        margin-bottom: 8px;
    }
}